@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Fundo */
body {
  background-image: url("bourdieu.jpeg");
  background-size: cover;
  background-position: center top; /* começa do topo central no desktop */
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Faixa da equipe fixa no topo */
.team-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(233, 196, 154, 0.95);
  color: #0f0e0e;
  font-family: "Abril Fatface", serif;
  font-weight: 550;
  font-style: normal;
  padding: 12px 20px;
  font-size: 1rem;
  text-align: left;
  z-index: 100;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* Responsividade da faixa */
@media (max-width: 500px) {
  .team-banner {
    font-size: 0.7rem;
    font-weight: 600;
    padding: 10px 15px;
  }
}

/* Container principal */
.app {
  background: rgba(99, 91, 91, 0.45);
  width: 90%;
  max-width: 600px;
  padding: 30px;
  border-radius: 8px;
  overflow-wrap: break-word;
  position: relative;
  z-index: 5;
}

.app h1 {
  color: #fff;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  font-size: 1.6rem;
  text-align: center;
}

.quiz {
  padding: 20px 0;
}

.quiz h2 {
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
}

.btn {
  background: #1312128e;
  color: #fff;
  font-weight: 500;
  width: 100%;
  border: 1px solid #131212d3;
  padding: 12px;
  margin: 10px 0;
  text-align: left;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover:not([disabled]) {
  background: #1d1d1d;
  color: #fff;
}

.btn:disabled {
  cursor: no-drop;
  opacity: 0.6;
}

#next-btn {
  background: #bac895;
  color: #fff;
  font-weight: 600;
  width: 180px;
  border: 0;
  padding: 12px;
  margin: 20px auto 0;
  border-radius: 6px;
  cursor: pointer;
  display: none;
}

/* Feedback */
.correct {
  background: #9aeabc;
}
.incorrect {
  background: #463f3f;
}

/* Responsividade tablets */
@media (max-width: 768px) {
  .app {
    width: 95%;
    padding: 25px;
    margin: 120px auto 40px;
  }
  .app h1 {
    font-size: 1.4rem;
  }
}

/* Responsividade celulares */
@media (max-width: 500px) {
  body {
    background-attachment: scroll;
    background-position: left; /* começa da esquerda no celular */
  }

  .app {
    padding: 20px;
    margin: 120px auto 30px; /* mantém espaço topo e mais centralizada */
  }

  .quiz h2 {
    font-size: 0.95rem;
  }
  .btn {
    font-size: 0.85rem;
    padding: 10px;
  }
  #next-btn {
    width: 100%;
    font-size: 0.9rem;
  }
}


