@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Fundo */
body {
  background-image: url("BOUR.jpeg");
  background-size: cover;
  background-position: center top; /* começa do topo central no desktop */
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Faixa da equipe fixa no topo */
.team-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(239, 221, 163, 0.859);
  color: #0e0d0d;
  font-family: "Abril Fatface", serif;
  font-weight: 550;
  font-style: normal;
  padding: 12px 20px;
  font-size: 1rem;
  text-align: left;
  z-index: 100;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* Responsividade da faixa */
@media (max-width: 500px) {
  .team-banner {
    font-size: 0.7rem;
    font-weight: 600;
    padding: 10px 15px;
  }
}

/* Container principal */
.app {
  background: rgba(192, 187, 142, 0.264);
  width: 100%;
  max-width: 900px;
  margin-left: 400px;
  position: absolute;
  top: 30px; 
  padding: 8px;
  border-radius: 8px;
  overflow-wrap: break-word;
  position: relative;
  z-index: 5;
  margin-top: 90px;
  max-width: 900PX


}

.quiz {
  padding: 10px 0;
}

.quiz h2 {
  font-size: 1.3rem;
  color: #161414;
  font-weight: 900;
}

.btn {
  background: #c8c8a890;
  color: #0e0d0d;
  font-weight: 600;
  font-size: 30px;
  width: 100%;
  border: 1px solid hsla(0, 0%, 2%, 0.523);
  padding: 12px;
  margin: 10px 0;
  text-align: left;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover:not([disabled]) {
  background: #c8c8a890;
  color: #fff;
}

.btn:disabled {
  cursor: no-drop;
  opacity: 0.6;
}

#next-btn {
  background: #467df490;
  color: #fff;
  font-weight: 600;
  width: 180px;
  border: 0;
  padding: 12px;
  margin: 20px auto 0;
  border-radius: 6px;
  cursor: pointer;
  display: none;
}

/* Feedback */
.correct {
  background: #37e381;
}
.incorrect {
  background: #e31c1c90;
}

/* Responsividade tablets */
@media (max-width: 768px) {
  .app {
    width: 95%;
    padding: 25px;
    margin: 120px auto 40px;
  }
  .app h1 {
    font-size: 1.4rem;
  }
}

/* Responsividade celulares */
@media (max-width: 500px) {
  body {
    background-attachment: scroll;
    background-position: left; /* começa da esquerda no celular */
  }

  .app {
    padding: 20px;
    margin: 120px auto 30px; /* mantém espaço topo e mais centralizada */
  }

  .quiz h2 {
    font-size: 0.95rem;
  }
  .btn {
    font-size: 0.85rem;
    padding: 10px;
  }
  #next-btn {
    width: 100%;
    font-size: 0.9rem;
  }
}













